<script src="https://www.publicalbum.org/js/pa-embed-player.min.js" async></script>
<div class="pa-embed-player" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/QrZADC5jUeBvU74g9"
  data-title="Website Photos"
  data-descrition="Album by Catherine Murphy">
  <!-- 13 images -->
  
  <img data-src="https://lh3.googleusercontent.com/7zNADe6zk5Er2rRwH7O0lVfGfvtqHDa3bNTGXS63EmxMkI5oLoB8yO5gZ1RJHD0imGVdXDlYLzhMNg8hZ1aHiH7ijiagCbQPy_YU-Oh7jLliF4IPvwZ3YQ9O14yEtWBBo3Aj18Eagg=w540-h960" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/J5WreB8WCo85yyelQg_oZmpGzlfVBcBcT-Jl_PNAZmcexHjUh2AhVB7_C0d76qnwS8Z4ppA8SDAfjH7fkFHCJB_7YqNdqS0XcwYXcdiqLAZdXQ3y0nEgG-ti3ZxzFlsoJ3tRCBw5bQ=w3024-h4032" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/z8nyH4hiIjvJTXcLieJeokss6NKh2EmLXENPx4cKxfdkDNth_OUDJyKUlvflr_X4sIxEIvUXv_HIUyQEUce3gnQ7-3HGds-GC0xSHqGfgtq7KdzEEyLbJut9aYBpTu2dJhzAujolNQ=w720-h960" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/g-k1ROCTDsyv2tQX6PEJTzIEX3_lUFz0GIgrAd3SwNZsC8xbo7-QGMAltp2zle5rkINrPqgz2mSIaKOpkWFpCxYrsBUSt9w5aU7umt6F5Zof_tFoUnzbpCGOd_sBCLDCEG8w0xK8aQ=w3024-h4032" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/KVDj8fBrTcyyR3xztIiRvH0xcQXygXVNmwCq7fSKO0HLbZMOwiuGG7-JlutTXSlcQeR4eW1e0pi9Wh8YRg2t6jgcuPZ_DoksuovN7_G_ofNalzmRTn_q5ufMCaeoSMRBbhNWpEpcnw=w3024-h4032" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/vCktZSzpzQBpHo-o0y05uY0aovLVNcY_vZzUtOCBypNDSjGKOmjGre5ihLaLZb-gymv0EuyAwxMeTOotVevj0BfhBYXtqU1zIq8JDOn2HrMJfz5ByxmwydmG-_kLxQKwhqEv82v1Dw=w4032-h3024" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/wUu1cV6UgxD4BUVQI9Sv9R6YhwU8SSVsyG1SrhGQLf3wN-5j8twDgvyI3j403a31dBgkRYzTmWV1RlXLM8qzVBzECnuyKaYbxA-mbKD23PMVC72nBHb4brA-NBfA6ssXCL7FP-gNmQ=w949-h822" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/FGXf10VsTisW6mseyAU8KlneJbh3fBfo86OGK9YP22mlHO22Phxx7hJeca4nUy8P7T_hqWEWIaQ1OjIA1XWv3pUkPs7QAWcgbD3aaYKeh3UlefCI3AiZKlL9N3M__bNcvCRmI23_dw=w4032-h3024" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/5YH73OH3nCt1HjZzcc6C3n9O1icxUzH0gIjWsUDrm71cdaTypf9QPW99FNvQ-GAqOAwi25RO0-7mU3KHZovunkqo-gr1BW_MsfsZY_UOKWGnw_g0xR9xX-QDiPOU15TWAL4vVMfoGA=w4032-h3024" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/a4N0Q7U6XKF1SMRNrw9FGXgrPdXScDb3uo5fzQwqE4HRS0d1ffiY_VTqK0iLXkeC_QXV04FjvxuZ5AWgf_mQGow7zq-jx4wXB6Qbo74x4LcLwTcX5Voim-j47ABFOJyReI0q-KL74g=w4032-h3024" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/Z5dr6kMwFq4fAxWtEdANVKBzRz7pbzZ1wFVhXXoiLh7ugtBGlygIbXtTsLRa7awgdXPCAXZDhvbAP9VDiK6UQzZ6hFE29iSIoD1Y2ok-KoybaBbDYsq-1_hsp1eCEkaZVj3lGF1wHg=w4032-h3024" src="" alt="" />
  
  <img data-src="https://lh3.googleusercontent.com/Pnu7zlQlC9Ua-MdE5NVoCE9lmj8EteyGn78YaikLa_9kKOryM0GHa9O-ewPzTUQPuUcCAINKPWhnaSIhbT7nGPqtNEoXJBAfGwzYLVT3OIEfEsqU9RAob5ATwcz1PtQjuoBhUrP6SA=w1080-h720" src="" alt="" />
   
  <img data-src="https://lh3.googleusercontent.com/C0JQMSlwWgu9s_EnZeX45xHFYaWh9DsbDE89Nln4yDxLJTCpVqeezstVQzwqOdLyHB00s8aEyJrxoghXleC4RS-Njnx0VPKZDLah6Jlvu8pcvJOCtmvmaG4tdWC_nzCJ-FMmvVdspg=w3024-h4032" src="" alt="" />

</div>